nav {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar {
  background-color: #f8f9fa;
  border-radius: 0px;
  z-index: 15;
}

/* bookmark button */
.bookmark {
  height: 45px;
  width: 45px;
  margin-top: 2px;
  margin-right: 2px;
  background: url("../media/img/bookmark_on.png") no-repeat;
  display: inline-block;
  background-size: contain;
  transition: 0.3s ease;
  filter: saturate(0%);
}

.bookmark:hover {
  filter: saturate(100%);
  display: inline-block;
  background-size: contain;
  transition: all ease-in-out .3s;
}

/* bookmark modal */
.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 500px;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
  z-index: 30;
}

.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
}

.modal.right .modal-body {
  padding: 15px 15px 80px;
}

.modal.right.fade .modal-dialog {
  right: -320px;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
  -o-transition: opacity 0.3s linear, right 0.3s ease-out;
  transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
  right: 0;
}

.modal-content {
  border-radius: 0;
  border: none;
}

.modal-header {
  border-bottom-color: #B8CEC9;
  background: linear-gradient(to bottom right, #2BC0E4 0%, #EAECC6 88%);
  color: #fff;
}

.modal-body {
    max-height: calc(100vh - 60px);
    overflow-y: auto;
}

.modal-backdrop.in {
  z-index: 20;
}

/* bookmark lists */
.list-box {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 90%;
  margin: 10px auto;
  padding: 5px 12px;
  background-color: #f4f9f9;
  transition: 0.3s ease;
}

.list-box:hover {
  background-color: #e1e8e8;
}

.move_to_list:hover {
  text-decoration: none;
}
