* {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  overflow-x: hidden;
}

#vid_overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  background-color: rgba(255,255,255,0.3);
  z-index: -1;
}

video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -2;
  overflow-y: hidden;
}

.extra-margin {
  margin: 60px auto;
}

.xmargin {
  margin-top: 40px;
}

#weahter_img {
  width: 180px;
  height: 180px;
  margin: 0 auto;
}

.mark_check {
  height: 45px;
  width: 45px;
  margin-top: 2px;
  margin-right: 2px;
  background: url("../media/img/bookmark_set.png") no-repeat;
  display: inline-block;
  background-size: contain;
  transition: 0.3s ease;
  filter: saturate(0%);
  margin-top: 134px;
}

.mark_check:hover {
  filter: saturate(100%);
  display: inline-block;
  background-size: contain;
  transition: all ease-in-out .3s;
}

#city {
  font-size: 52px;
  font-weight: bold;
  margin: 22px auto 0 auto;
}

#state {
  font-size: 24px;
  margin: 0 auto;
}

#country {
  font-size: 20px;
  margin: 0 auto;
}

.wrapper {
  width: 94%;
  background-color: rgba(255, 255, 255, 0.36);
  margin: 20px auto;
  padding: 4px 12px;
  border-radius: 3px;
  border: 1px solid #ccc;
  height: 180px;
}

.wrap_title {
  font-weight: bold;
}

.wrap_title::after {
  content: "";
  display: block;
  border-bottom: 1px solid #999;
  width: 22%;
  margin-top: 5px;
}

.wrap_content {
  font-size: 5rem;
  font-weight: bold;
  margin-left: 12px;
}

.alerts {
  margin-top: 25px;
}

#humidity_alert {
  display: none;
}

#aq_alert {
  display: none;
}

#warn_img {
  width: 45px;
  margin-bottom: 5px;
  margin-top: -46.8px;
  display: none;
}

/* start of CFswitch */
.CFswitch {
    position: relative; width: 64px;
    height: 34px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    margin-top: 10px;
}
.CFswitch-checkbox {
    display: none;
}
.CFswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #CFCFCF; border-radius: 28px;
}
.CFswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.CFswitch-inner:before, .CFswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 16px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.CFswitch-inner:before {
    content: "°C";
    padding-left: 12px;
    background-color: #34A7C1; color: #FFFFFF;
}
.CFswitch-inner:after {
    content: "°F";
    padding-right: 12px;
    background-color: #F0F0F0; color: #34A7C1;
    text-align: right;
}
.CFswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 30px;
    border: 2px solid #CFCFCF; border-radius: 28px;
    transition: all 0.3s ease-in 0s;
}
.CFswitch-checkbox:checked + .CFswitch-label .CFswitch-inner {
    margin-left: 0;
}
.CFswitch-checkbox:checked + .CFswitch-label .CFswitch-switch {
    right: 0px;
}
/* end of CFswitch */
